<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Auxilium | Status</title>
    <meta name="robots" content="noindex">
    <link rel="stylesheet" href="/static/css/standard-web-page.css">
</head>
<body>

{% block content %}
{% endblock %}

</body>
</html>
